<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="auth-container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" required>

            <label for="password">Password</label>
            <input type="password" name="password" required>

            <div class="btn-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <form action="/signup" method="get">
            <button type="submit">Sign Up</button></form>
    </div>

    <script>
        function redirectTo(page){
            window.location.href = page;
        }
        window.onload = function(){
            var message = "<%= message %>";
            if (message && message!=="null"){
                alert(message);
            }
        };
    </script>
</body>
</html>
